.ano-layout{
    width: 100%;
    min-height: 100%;
    background: #03081C;
    padding-top: 20px;
}
.ano-layout h4{
    color: #FFFFFF;
    background: #1F3E50;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Arial';
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.ano-layout table{
    width: 100%;
    text-align: center;
    background: #03081C;
}
.ano-layout table thead tr td{
    background: #005E8A;
    color: #fff;
    font-size: 20px;
}
.ano-layout table tr td{
    border: 2px solid #0C0E26;
    color: #fff;
}
table.ano81 tbody tr td{
    border: 2px solid #1D243A;
    line-height: 61px;
    font-size: 18px;
    font-family: 'Arial';
}
table.ano82 tbody tr td{
    border: 2px solid #1D243A;
    line-height: 21px;
    font-size: 18px;
    font-family: 'Arial';
    color: #000
}
table.ano81 tbody tr:nth-child(even){
    background: #112B3A;
}
table.ano82 tbody tr{
    background: #00B0F0;
}