.header{
    width: 100%;
    height: 45px;
    background: #399; 
}
.admin{
    position: relative;
}
.admin:nth-child(1){
    height: 100%;
    width: 132px;
    display: block;
    float: right;
    background: #6acabd;
}
.admin a span {
    width: 50px;
    color: #FFF;
    display: block;
    text-align: center;
    height: 100%;
    line-height: 45px;
    font-size: 16px;
    float: right;
    font-family: "microsoft yahei", heiti, Arial, "Helvetica";
}
.admin img{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 2px;
    float: right;
}
.admin .icon-down{
    background: url("../imgs/white.png") -57px -148px no-repeat;
}
.admin>a>i{
    width: 15px;
    height: 10px;
    float: right;
    margin-top: 17px;
    margin-right: 13px;
}
.admin-down-ul{
    position: absolute;
    right: 0px;
    top: 45px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    z-index: 10;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}
.admin-down-ul li a{
   font-size: 13px;
   padding-left: 10px;
   height: 35px;
   line-height: 35px;
   width: 160px;
   display: block;
    color: #000;
    font-family: Arial;
}
.admin-down-ul li a:hover{
    background: #51B7A9;
    color: #FFFFFF;
}
.admin-down-ul li a:hover  .icon-set{
    background: url("../imgs/white.png") -90px -60px no-repeat;
}
.admin-down-ul li a:hover  .icon-logout{
    background: url("../imgs/white.png") -780px -120px no-repeat;
}
.first-a-icon{
    display: inline-block;
    height: 13px;
    padding-left: 30px;
    background: url("../imgs/white.png") -266px -118px no-repeat;
}
.first-a-down{
    display: inline-block;
    height: 10px;
    padding-left: 30px;
    background: url("../imgs/white.png") -180px -150px no-repeat;
    margin-left: 40px;
    position: absolute;
    top: 13px;
    right: -5px;
}
.first-a-up{
    display: inline-block;
    height: 10px;
    padding-left: 30px;
    background: url("../imgs/white.png") -180px -150px no-repeat;
    margin-left: 40px;
    position: absolute;
    top: 13px;
    right: -5px;
}
.icon-user{
    display: inline-block;
    height:20px;
    width: 20px;
    vertical-align: middle;
}
.icon-set{
    background: url("../imgs/gray.png") -90px -60px no-repeat;
}
.icon-logout{
    background: url("../imgs/gray.png") -780px -120px no-repeat;
}
.line{
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    margin: 5px 0px;
}