#mob86{
    background: #03091A;
}
#mob86 h3{
    font-size: 42px;
    font-family: "Arial";
    color: #fff;
}
.md2 table tr td{
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color: #0C0E26;
}
#mob86 h4{
    font-size: 34pt;
    font-family: "Arial";
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.md5 table thead{
    background: #015E8A;
    color: #fff;
    border: #0c0e26 0px solid;
    font-size: 30px;
    text-align: center;
}
.md5 table tbody tr{
    line-height: 65px;
    border: #0c0e26 0px solid;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
#mob86 table tr td{
    border: 2px solid #03091A;
}
.bg-red{
    background: #FF0000;
}
.bg-blue{
    background: #33FF33;
}