.mob{
	width: 100%;
    height:100%;
    overflow: hidden;
    background: #03081C;
}
.mob-layout h3{
	color: #fff;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    font-family: microsoft yahei,heiti;
    font-weight: normal;
}
.mob-layout ul li a{
	color: #fff;
	width: 100%;
	display: block;
	border: 1px solid #1D243A;
    line-height: 43px;
    height: 43px;
    font-size: 20pt;
    text-align: center;
    font-family: 'ABBNeueHelvetica-Light';
    text-decoration: none;
}
.mob-layout ul li a:hover{
    text-decoration: none;
    color: rgb(0, 94, 138);
}
.col-sm-3 table tr td{
    border: 1px solid #434062;
    color: #9499AD;
    font-size: 16px;
    width: 150px;
    height:40px;
    line-height: 40px;
    margin-top: 40px;
    text-align: center;
}
.col-sm-3 table{
    margin-top: 100px;
}
.col-sm-3 p{
    font-family: Arial;
    color: #84899F;
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
}
.txt-first{
    color: #F50001;
}
.txt-sec{
    color: #E19713;
}
.txt-third{
    color: #FFE302;
}
.scoll-nav{
    width:100%;
    height:200px;
    margin-top: -100px;
    background: #0A0F25;
}
ul.first-nav{
    margin-top: 10px;
    width:400px;
    margin: 0 auto;
}
ul.sec-nav{
    margin-top: 5px;
    width:400px;
    margin: 0 auto;
    clear: both;
}
ul.first-nav li{
    float: left;
    width: 50px;
    text-align: center;
    color: #42435f;
    display: block;
    font-size: 12px;
    font-family: "Arial";
}
ul.sec-nav li{
    float: left;
    width: 50px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    color: #42435f;
    display: block;
}
ul.first-nav li:hover{
    color: rgb(248, 248, 251);
}
span.radius{
    width: 10px;
    height: 10px;
    border: 1px solid #4a476a;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
span.radius:hover{
    background: #4a476a;
}

.mob .mob-layout .row .col-sm-6 h5 span.ticket-time{
    color: #FFFFFF;
    font-size: 20px;
    height:20px;
    line-height:20px;
    display: block;
    float: left;
margin-top: 40px;
}

.col-sm-3 table tr td span#FOAccess{
    border: 1px solid #434062;
    font-size: 16px;
    width: 50px;
    height:20px;
    background-color: #87CEFA;
    text-align: center;

}