.mob{
	width: 100%;
    height:100%;
    overflow: hidden;
    background: #03081C;
}
.mob-layout h3{
	color: #fff;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    font-family: microsoft yahei,heiti;
    font-weight: normal;
}
.mob-layout ul li a{
	color: #fff;
	width: 100%;
	display: block;
	border: 1px solid #1D243A;
    line-height: 43px;
    height: 43px;
    font-size: 20pt;
    text-align: center;
    font-family: 'ABBNeueHelvetica-Light';
    text-decoration: none;
}
.mob-layout ul li a:hover{
    text-decoration: none;
    color: rgb(0, 94, 138);
}