.ticket-layout{
    width: 100%;
    height: 100%;
    background: #03081C;
    overflow: auto;
}
.ticket-layout h4{
    color: #FFFFFF;
    background: #1F3E50;
    line-height: 50px;
    text-align: left;
    font-size: 30px;
    font-family: 'Arial';
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.ticket-layout table{
    width: 100%;
    text-align: center;
}
.ticket-layout table thead tr{
    background: #005E8A;
    color: #fff;
    font-size: 20pt;
}
.ticket-layout table thead tr:nth-child(1){
    height: 50px;
    line-height: 50px;
}
.ticket-layout table.ticket thead tr:nth-child(2),.ticket-layout table.ticket thead tr:nth-child(3){
    height: 70px;
    line-height: 70px;
}
.ticket-layout table tr td{
    border: 2px solid #0C0E26;
    color: #fff;
}
.ticket-layout table.ticket thead tr:nth-child(3) td{
    width: 7%;
}
.ticket-layout table.ticket tbody tr{
    height: 61px;
    line-height: 61px;
    font-size: 18px;
    font-family: Arial;
}
.ticket-layout table tbody tr:nth-child(even){
    background: #112B3A;
}
.dis-td{
    line-height: 30px;
}
table{
    font-family: 'Arial';
    background-color: #03081C;
}
table.monitoring-table thead tr:nth-child(1) td{
    font-size: 20pt;
    line-height: 50px;
    height: 50px;
}
table.monitoring-table thead tr:nth-child(2) td,table.monitoring-table thead tr:nth-child(3) td{
    font-size: 20px;
    line-height: 40px;
    height: 40px;
}
table.monitoring-table tbody tr td{
    height:60px;
    font-size:18px;
}
table.MTTR tbody tr td{
    font-size: 18px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
}
table.MTTR thead tr td{
    font-size: 20px;
    font-weight: normal;
}
table.num tr td{
    font-size: 20px;
}
table.num thead tr:nth-child(2){
    height: 60px;
}
table.num tbody tr{
    height: 60px;
}
table.distribution thead tr td{
    font-size: 18pt;
}
table.distribution tbody tr td{
    font-size: 18px;
    height:60px;
}
table.distribution thead tr:nth-child(1){
    height:50px;
}
table.distribution thead tr:nth-child(2){
    height:50px;
}
table.distribution thead tr:nth-child(2){
    height:60px;
}
span.bule-star{
    background: url("../imgs/colourful.png") -510px 0px no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.ticket-layout table tr td.text-red{
    color: #dd5a43;
}
.ticket-layout table tr td.text-blue{
    color: #69aa46;
}
.ticket-layout table tr td.text-fff{
    color: #fff;
}
.red-radius{
    background: url("../imgs/disc-red.png") no-repeat center;
    background-size: 22px 22px;
    padding-left: 3px;
    padding-right: 3px;
}
.yellow-radius{
    background: url("../imgs/disc-yellow.png") no-repeat center;
    background-size: 22px 22px;
    padding-left: 3px;
    padding-right: 3px;
}
.green-radius{
    background: url("../imgs/disc-green.png") no-repeat center;
    background-size: 22px 22px;
    padding-left: 3px;
    padding-right: 3px;
}
table.MTTR tbody tr td.bg-red{
    background: #ff0000;
}
table.MTTR tbody tr td.bg-yellow{
    background: #ffff00;
}
table.MTTR tbody tr td.bg-blue{
    background: #009900;
}
#mttr-data{
    min-width: 1300px;
}
#mttr-data .col-sm-6{
    min-width: 600px;
}