html{
    background: #03091c;
}
.layout{
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    padding-top:1px;
    background: #03091c;
    min-width:  1900px;
    min-height: 1080px;
}
.box{
    width: 100%;
    height: 90%;
    margin-top: 3%;
    background: #0a0f25;
}
.layout h4{
    height: 80px;
    line-height: 80px;
    font-size: 45px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-align: center;
    background: #292a49;
}
#echart1{
    height: 50%;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}
.layout table{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
.layout table thead td:not(.no-bg){
    font-size: 24px;
    font-family: "Arial";
    color: rgb(159, 159, 161);
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #292a49;
}
.layout table tbody td{
    border:2px solid #1a1e32;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-family: "Arial";
    color: rgb(159, 159, 161);
}
.scoll-nav{
    width: 100%;
    height: 10%;
    padding-top: 1px;
    margin-top: 50px;
}
ul.first-nav{
    margin-top: 40px;
    width: 650px;
    margin: 30px auto;
}
ul.sec-nav{
    margin-top: 5px;
    width: 650px;
    margin: 0px auto;
}
ul.first-nav li{
    float: left;
    width: 70px;
    text-align: center;
    color: #42435f;
    display: block;
    font-size: 16px;
    font-family: "Arial";
}
ul.sec-nav li{
    float: left;
    width: 70px;
    height: 10px;
    border-radius: 60%;
    text-align: center;
    color: #42435f;
    display: block;
}
ul.first-nav li:hover{
    color: rgb(248, 248, 251);
}
span.radius{
    width: 10px;
    height: 10px;
    border: 1px solid #4a476a;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
span.radius:hover{
    background: #4a476a;
}
.p_layout{
    width: 100%;
    height:100%;
    background: #03091c;
    min-width:  1900px;
    min-height: 1080px;
    padding-top: 1px;
}
#echart2{
    width:60%;
    height:100%;
    float: left;
}
.p_layout table{
    width:30%;
    min-width:230px;
    margin-top:20%;
}
.p_layout table tr td{
    border: 1px solid #434062;
    color: #9499AD;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
}
.showcontent span{
    margin-left: 80%;
    display: block;
    width:100px;
    text-align: center;
    height:60px;
    line-height:60px;
    border: 1px solid #434062;
    color: #9499AD;
    font-size: 24px;
}
.showcontent span:nth-child(1){
    margin-top: 80px;
}
.p_layout h3{
    padding-left: 20px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-align: left;
    background: #292a49;
}