.wifiId-layout{
  width: 100%;
  height: 100%;
  background: #03081B;
}
.wifiId-layout .left{
  width: 65%;
  height: 80%;
  background: #0A0F25;
  float: left;
  margin-top: 5%;
  margin-left: 2%;
}
.wifiId-layout .right{
  width: 30%;
  height: 80%;
  background: #0A0F25;
  float: right;
  margin-top: 5%;
  margin-right: 2%;
}
.right .scoll-nav{
  width: 100%;
  height: 10%;
  padding-top: 1px;
}
.right .item{
  width: 100%;
  height: 30%;
}
ul.first-nav{
  margin-top: 10px;
  clear: both;
}
ul.sec-nav{
  margin-top: 5px;
  clear: both;
}
ul.first-nav li{
  float: left;
  width: 50px;
  text-align: center;
  color: #42435f;
  display: block;
  font-size: 12px;
  font-family: "Arial";
}
ul.sec-nav li{
  float: left;
  width: 50px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  color: #42435f;
  display: block;
}
ul.first-nav li:hover{
  color: rgb(248, 248, 251);
}
span.radius{
  width: 10px;
  height: 10px;
  border: 1px solid #4a476a;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
span.radius:hover{
  background: #4a476a;
}